<div class="float-container">
  <mat-toolbar class="head">
    <mat-toolbar-row>
      <span class="toolbar">Tank Web App</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="float-child">
    <div class="tankdiv">
      <mat-card [class.mat-elevation-z3]="true">
        <mat-card-title style="text-align: center">Water Tank</mat-card-title>
        <mat-card-content style="justify-content:center; display:flex">
            <smart-tank #tank id="tank" [max]="100" [value]="22" [interval]="10"></smart-tank>
        </mat-card-content>
      </mat-card>
      <mat-card-actions class="drain">
        <button mat-raised-button color="primary">Drain</button>
      </mat-card-actions>
    </div>
  </div>

  <div class="float-child">
    <div class="changelevels">
      <form class="changelevels-form">
        <mat-form-field appearance="outline" style="text-align: center">
          <mat-label>Tank level (Lts)</mat-label>
          <input matInput readonly value="20">
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="primary">+</button>
          <button mat-raised-button color="primary">-</button>
        </div>
        <mat-form-field appearance="outline" style="text-align: center; margin-top:10px">
          <mat-label>Set Point (Lts)</mat-label>
          <input matInput type="number" value="20">
        </mat-form-field>
        <div class="single-button">
          <button mat-raised-button color="primary">Set</button>
        </div>
      </form>
    </div>
  </div>

  <div class="float-child">
    <div class="editprops">
      <mat-card [class.mat-elevation-z3]="true">
        <mat-card-title style="text-align: center">Tank Setup</mat-card-title>
        <mat-card-content>
          <form>
            Capacity
            <mat-divider [inset]="true"></mat-divider>
            <div class="edit-content">
              <div>
                Maximum
                <mat-form-field appearance="outline" style="text-align: center; margin-top:10px">
                  <mat-label>(Lts)</mat-label>
                  <input matInput type="number" value="20">
                </mat-form-field>
              </div>
              <div>
                Minimum
                <mat-form-field appearance="outline" style="text-align: center; margin-top:10px">
                  <mat-label>(Lts)</mat-label>
                  <input matInput type="number" value="20">
                </mat-form-field>
              </div>
            </div>
            Alarms
            <mat-divider [inset]="true"></mat-divider>
            <div class="edit-content">
              <div>
                High Level
                <mat-form-field appearance="outline" style="text-align: center; margin-top:10px">
                  <mat-label>(Lts)</mat-label>
                  <input matInput type="number" value="20">
                </mat-form-field>
              </div>
              <div>
                Low Level
                <mat-form-field appearance="outline" style="text-align: center; margin-top:10px">
                  <mat-label>(Lts)</mat-label>
                  <input matInput type="number" value="20">
                </mat-form-field>
              </div>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <div style="display: flex; justify-content: center">
            <button mat-raised-button color="basic">Edit</button>
            <button mat-raised-button color="warn">Cancel</button>
            <button mat-raised-button color="primary">Confirm</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>



</div>
